<launch>
  <node name="mission_manager"
		pkg="mission_manager"
		type="mission_manager.py"
		output="screen"
		ns="minihawk_SIM">
	<param name="takeoff_height" value="30.0" />
	<param name="landing_height" value="20.0" />
	<param name="gps_position" value="[-50, 750.0, 60]" type="yaml" />
  </node>
</launch>
